*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ff9022;
    font-family: 'Acme', sans-serif;
}
.img{
    width: 550px;
    cursor: pointer;
}
.img1{
    margin-left: 150px;
}
.img2{
    margin-right: 150px;
}
.espacio{
    height: 100px;
}
.img:hover{
    transform: scale(1.04);
}
.imagenes{
    height: 310px;
}
.redes {
    margin-top: 0px;
}
.espacio div {
    text-align: center;
    width: 400px;
    margin: 0 auto;
}
/*.espacio i {
    float: right;
    margin-top: 14px;
    margin-right: 60px;
}*/
.espacio h2 {
    font-family: 'Acme', sans-serif;
   /* float: left; */
    margin-top: 40px;
}
.linksP{
    height: 50px;
}
#clasico {
    float: left;
    margin-top: 10px;
    margin-left: 330px;
    color:black;
    text-decoration: underline;
}
#americano {
    float: right;
    margin-top: 10px;
    margin-right: 308px;
    color: black;
    text-decoration: underline;
}
#clasico:hover {
    transform: scale(1.04);
}
#americano:hover {
    transform: scale(1.04);
}
.visitanos {
    height: 500px;
    text-align: center;
}
.visitanos h3 {
    color: rgb(0, 0, 0);
    margin-top: 50px;
}
.visitanos iframe{
    margin-top: 20px;
}

.titulo {
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.galeria img {
    box-shadow: 0 8px 10px -4px rgba(0,0,0,.6);
    border-radius: 15px;
}

.materialbox-caption {
    bottom: 30px;
    right: 0;
    width: 40%;
    height: auto;
    padding: 10px;
    margin: auto;
    background: #000;
    box-shadow: 5px 5px #fff;
    font-size: 20px;
    color: #fff;
    line-height: 28px;
}

.galeria .col {
    margin-bottom: 20px;
}
.imgs{
    width: 300px;
}
.imgs:hover{
    transform: scale(1.04);
}
.prod{
    text-align: center;
    margin-top: 30px;
}
.produ{
    margin-top: 30px;
}