@import "./variables.scss";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Acme', sans-serif;
  background-color: $color-principal;
}

.body2 {
  background-color: $color-principal;
  font-family: 'Acme', sans-serif;
}

.header {
  li {
    display: inline-block;
    margin-top: 15px;
  }

  a {
    margin: 0 auto;
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
  }

  img {
    width: 92px;
    float: left;
  }
}
.espacio {
  div {
    text-align: center;
    width: 800px;
    margin: 0 auto;
  }

  h1 {
    font-family: 'Acme', sans-serif;
    margin-top: 30px;
  }
}
.visitanos {
  h3 {
    color: rgb(0, 0, 0);
    margin-top: 50px;
  }

  iframe {
    margin-top: 20px;
    text-align: center;
  }
}

h1 {
  &::before {
    transform: scaleX(0);
    transform-origin: bottom right;
  }

  &:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  &::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: rgb(211, 163, 61);
    z-index: -1;
    transition: transform .3s ease;
  }

  position: relative;
  font-size: 80px;
}
.hw {
  text-align: center;

  h2 {
    position: relative;
    right: 0rem;
    height: 4rem;
    padding-top: 1rem;
  }

  iframe {
    position: relative;
  }
}