


h1 {
    color: $color-letra;
  }
  
  .header {
    background-color: #474646;
    font-family: 'Acme', sans-serif;
    padding: 0;
    height: 100px;
    @include flex-end
  }
  
  .a {
    padding: 18px;
  }
  
  .color-nav-bar a {
    color: #ff9e3c !important;
  }
  .logo {
    padding-left: 30px;
  }
  
  /*PAGINA INDEX*/
  .img {
    width: 550px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .img1 {
    margin-left: 8%;
  }
  
  .img2 {
    margin-right: 8%;
  }
  
  .espacio {
    height: 150px;
  }
  
  .img:hover {
    transform: scale(1.04);
  
  }
  
  .imagenes {
    height: 310px;
  }
  
  .redes {
    margin-top: 0px;
  }
  
  #clasico {
    float: left;
    margin-top: map-get($estilos, 10mT);
    margin-left: 17%;
    color: black;
    text-decoration: map-get($estilos, under);
  }
  
  #americano {
    @extend #clasico;
    float: right;
    margin-right: 17%;
  }
  
  #clasico:hover,
  #americano:hover {
    transform: scale(1.04);
  }
  
  .linksP {
    height: 50px;
  }
  
  .visitanos {
    text-align: map-get($estilos, centro);
    position: relative;
    height: 500px;
  }
  
  .footerS {
    position: relative;
  }
  
  .titulo {
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 7px;
  }
  
  .galeria img {
    box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
  }
  
  .materialbox-caption {
    bottom: 30px;
    right: 0;
    width: 40%;
    height: auto;
    padding: 10px;
    margin: auto;
    background: #000;
    box-shadow: 5px 5px #fff;
    font-size: 20px;
    color: #fff;
    line-height: 28px;
  }
  
  .galeria .col {
    margin-bottom: 20px;
  }
  
  .imgs {
    width: 300px;
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      transform: scale(1.04);
    }
  }
  
  .prod {
    text-align: center;
    margin-top: 30px;
  }
  
  .produ {
    margin-top: 30px;
  }
  .services {
    position: relative;
    margin-top: 0px;
    text-align: center;
    height: 820px;
    background-color: #9e9797;
  }
  
  .services1 {
    background-color: #757070;
    height: 200px;
  
    h2 {
      padding-top: 60px;
      font-size: 60px;
      color: white;
    }
  }
  
  .services img {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .img10 {
    background-image: url('https://picsum.photos/id/65/900/900.jpg');
  }
  
  .img20 {
    background-image: url('https://picsum.photos/id/881/900/900.jpg');
  }
  
  .img30 {
    background-image: url('https://picsum.photos/id/248/900/900.jpg');
  }
  
  .img40 {
    background-image: url('https://picsum.photos/id/423/900/900.jpg');
  }
  
  .img50 {
    background-image: url('https://picsum.photos/id/534/900/900.jpg');
  }
  
  .img60 {
    background-image: url('https://picsum.photos/id/664/900/900.jpg');
  }
  
  .img70 {
    background-image: url('https://picsum.photos/id/176/900/900.jpg');
  }
  
  .img80 {
    background-image: url('https://picsum.photos/id/73/900/900.jpg')
  }
  
  .img90 {
    background-image: url('https://picsum.photos/id/535/900/900.jpg');
  }
  
  .img100 {
    background-image: url('https://picsum.photos/id/943/900/900.jpg');
  }
  
  .img110 {
    background-image: url('https://picsum.photos/id/733/900/900.jpg');
  }
  
  .img120 {
    background-image: url('https://picsum.photos/id/584/900/900.jpg');
  }
  
  .img130 {
    background-image: url('https://picsum.photos/id/844/900/900.jpg');
  }
  
  .img140 {
    background-image: url('https://picsum.photos/id/160/900/900.jpg');
  }
  