@import "./nesting.scss";
@import "./variables.scss";

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Acme', sans-serif;
    background-color: $color-principal;
}
.body2{
    background-color: $color-principal;
    font-family: 'Acme', sans-serif;
}
h1{
    color: $color-letra;
}
.header {
    background-color: #474646;
    font-family: 'Acme', sans-serif;
    display: flex;
    padding: 0;
    height: 100px;
    justify-content: flex-end;
  }
  
.a {
    padding: 18px;
  }
  .color-nav-bar a {
    color: #ff9e3c !important;
  }

  /*PAGINA INDEX*/
  .img {
    width: 550px;
    cursor: pointer;
  }
  
  .img1 {
    margin-left: 8%;
  }
  
  .img2 {
    margin-right: 8%;
  }
  
  .espacio {
    height: 150px;
  }
  
  .img:hover {
    transform: scale(1.04);
  }
  
  .imagenes {
    height: 310px;
  }
  
  .redes {
    margin-top: 0px;
  }
  
  #clasico {
    float: left;
    margin-top: 10px;
    margin-left: 17%;
    color: black;
    text-decoration: underline;
  }
  
  #americano {
    float: right;
    margin-top: 10px;
    margin-right: 17%;
    color: black;
    text-decoration: underline;
  }
  
  #clasico:hover, #americano:hover {
    transform: scale(1.04);
  }
  .linksP {
    height: 50px;
  }
  .visitanos{
    text-align: center;
    position: relative;
    height: 500px;
  }
  .footerS{
    position: relative;
  }
  h1 {
    &::before {
      transform: scaleX(0);
      transform-origin: bottom right;
    }
  
    &:hover::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  
    &::before {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      inset: 0 0 0 0;
      background: rgb(211, 163, 61);
      z-index: -1;
      transition: transform .3s ease;
    }
  
    position: relative;
    font-size: 80px;
  }
  .logo {
    padding-left: 30px;
}
